/* CSS styles */
body,  container, #header, .logo, #menu, ul, li, .corp, #sidebar, #footer {margin: 0;padding:0;}

body {font: 14px normal Arial Helvetica, sans-serif; background-color: white; }

#header{background-color: #003DF5;}

.logo {font-family: Georgia; color: #fff; padding: 20px;}
.logo a {color: #fff;}

#menu  {float:left; width:100%; background-color: #000; border: 1px solid #eee;}
#menu ul {list-style: none;}
#menu li {float: left; padding: 5px 10px; border-right: 1px solid #eee;}
#menu li a {color: #eee;}
#menu li a, #sidebar a, .logo a {text-decoration:none}
.horloge {float: right; margin: -13px 1px -13px 0; }

#container {margin: 0 auto; width: 990px; border: 1px solid #eee;}

.corp {float: left; width: 800px; padding: 0 10px 0 0; border: 1px solid #eee;}
.corp p {text-align: justify;}

#sidebar {float: right; background-color: #e0e0e0; padding: 15px 10px; width: 150px; border: 1px solid #eee; }
#sidebar ul {list-style: none;}
#sidebar li a {color: #cc3333;}

#footer {float: left; color: #fff; background-color: #003DF5; width: 970px; padding-left: 20px; }